@import 'tailwindcss';

@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";

@import "flowbite/src/themes/default";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";
@import "./custom.css";

@import 'remixicon/fonts/remixicon.css';

@theme {
    --font-sans: 'Saira';

    --color-primary: #905ce5;
    --color-muted: #1F2937;
    --color-secondary: #6B7280;
    --color-success: #10B981;
    --color-info: #3B82F6;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
    --color-light: #F3F4F6;
    --color-dark: #111827;

    --color-background: #E7EAED;
    --color-secondary-background: #F6F8FA;
}

@custom-variant hover (&:hover);

