@import 'tailwindcss';

@plugin "flowbite/plugin";
@import "flowbite/src/themes/default";

@import "flowbite/src/themes/default";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../../node_modules/flowbite";

@import 'remixicon/fonts/remixicon.css';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #905ce5;
    --color-muted: #1F2937;
    --color-secondary: #6B7280;
    --color-success: #10B981;
    --color-info: #3B82F6;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;
    --color-light: #F3F4F6;
    --color-dark: #111827;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

[id] {
    scroll-margin-top: 72px;
}

.nav-link.active {
    @apply text-primary font-bold;
}

.btn {
    @apply text-white font-medium rounded-lg text-center transition-all duration-300;
}

.btn-primary {
    @apply bg-primary hover:bg-primary/80;
}

.btn-danger {
    @apply bg-danger hover:bg-danger/80;
}

.btn-success {
    @apply bg-success hover:bg-success/80;
}

.btn-warning {
    @apply bg-warning hover:bg-warning/80;
}

.btn-info {
    @apply bg-info hover:bg-info/80;
}

.btn-secondary {
    @apply bg-secondary hover:bg-secondary/80;
}

.btn-light {
    @apply bg-light hover:bg-light/80;
}

.btn-dark {
    @apply bg-dark hover:bg-dark/80;
}

.btn-outline-primary {
    @apply border-2 border-primary text-primary hover:bg-primary/10;
}

.btn-outline-danger {
    @apply border-2 border-danger text-danger hover:bg-danger/10;
}

.btn-outline-success {
    @apply border-2 border-success text-success hover:bg-success/10;
}

.btn-outline-warning {
    @apply border-2 border-warning text-warning hover:bg-warning/10;
}

.btn-outline-info {
    @apply border-2 border-info text-info hover:bg-info/10;
}

.btn-outline-secondary {
    @apply border-2 border-secondary text-secondary hover:bg-secondary/10;
}

.btn-outline-light {
    @apply border-2 border-light text-light hover:bg-light/10;
}

.btn-outline-dark {
    @apply border-2 border-dark text-dark hover:bg-dark/10;
}


.btn-sm {
    @apply text-xs px-3 py-1.5;
}

.btn-md {
    @apply text-sm px-4 py-2;
}

.btn-lg {
    @apply text-lg px-5 py-3;
}

/* Datatable */
button.fg-button.ui-button.ui-state-default {
    @apply px-2 me-1 py-0.5 bg-gray-200 rounded-sm text-dark shadow-md;
}

button.fg-button.ui-button.ui-state-default.ui-state-disabled:not(.first):not(.previous):not(.next):not(.last) {
    @apply px-2 me-1 py-0.5 bg-primary text-white rounded-sm shadow-md cursor-not-allowed;
}

button.fg-button.ui-button.ui-state-default:hover {
    @apply bg-primary text-white rounded-sm shadow-md;
}

.dt-input {
    @apply rounded-md shadow-sm focus:ring focus:ring-primary focus:border-primary;
}

td {
    @apply text-sm;
}

th {
    @apply text-sm;
}

.dt-column-title {
    @apply font-bold;
}

.dt-info {
    @apply text-sm;
}

.dt-length {
    @apply text-sm;
}

.dt-search {
    @apply text-sm;
}
